

.nav-item .nav-link {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    transition: color 0.3s ease; /* Tạo hiệu ứng mượt mà khi màu sắc thay đổi */
}

.nav-item .nav-link:hover {
    color: #FFC107; /* Màu sắc khi hover */
    transform: scale(1.05); /* Phóng to chút ít khi hover */
}


/* Khi hover vào thẻ Link */
.nav-item-2 a{
    background-color: #E7B553;
}


.nav-item-2 a:hover {
    background-color: #fac04be3 ;
}
